body {
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	text-align: center;
	background: rgb(0,255,0);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

iframe,
img {
	max-width: 100%;
	margin: auto;
	display: block;
	text-align: center;
}

#jar {
	text-align: center;
	margin: auto;
	position: relative;
	margin-top: 35px;
	img {
		position: relative;
		display: block;
		z-index: 999;
		width: 120px;
		margin: auto;
	}
	canvas {
		margin: auto;
	}
}

#overlay {
	position: absolute;
	top: -21px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	margin-left: 112px;
}

#count {
	margin-top: 15px;
	font-weight: 900;
}